body {
    display: flex;
    align-items: center;
    height: 100vh;
}

main {
    width: 336px;
    margin: 0 auto;
    border: 1px solid #C4C4C4;
    border-radius: 10px;
    font-family: 'Roboto', sans-serif;
}

#header-field {
    width: 336px;
    height: 28px;
    background: #FFDC40;
    border: 1px solid #C4C4C4;
    border-radius: 10px 10px 0 0;
    position: relative;
    right: 1px;
    bottom: 1px;
}

h1 {
    text-align: center;
    font-weight: 900;
    margin-bottom: 0;
}

#sort-field {
    width: 310px;
    height: 40px;
    display: flex;
    flex-direction: row-reverse;
}

#sort-button {
    width: 40px;
    height: 36px;
    background-color: white;
    border: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: black;
    opacity: 20%;
    outline: none;
    transition: 0.1s;
}

#sort-button:hover {
    opacity: 100%;
    cursor: pointer;
}

.arrow {
    width: 20px;
    height: 26px;
    font-size: 19px;
}

.arrow-reverse {
    width: 20px;
    height: 30px;
    font-size: 19px;
    transform: rotate(180deg);
}

#hr-field {
    width: 20px;
    height: 15px;
}

hr {
    text-align: left;
    margin: 2.5px 0px;
    height: 2.5px;
    border: none;
    background-color: black;;
}

.top-hr {
    width: 15px;
    
}

.middle-hr {
    width: 10px;
}

.bottom-hr {
    width: 7.5px;  
}

.input-box {
    display: flex;
    justify-content: center;
}

.input-box:first-child {
    border-radius: 10px 10px 0 0;
}

.input-box:last-child {
    border-radius: 0 0 10px 10px;
}

section {
    border: 1px solid #C4C4C4;
    width: 286px;
    margin: 0 auto;
    border-radius: 10px;
}

.drag-tool {
    width: 40px;
    height: 36px;
    border-radius: 10px 0 0 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.four-dots {
    font-size: 175%;
    transition: 0.1s;
}

.four-dots:hover {
    transform: scale(1.5);
    cursor: grab;
}

.input-field {
    width: 206px;
    height: 34px;
    border: none;
    outline-color: #FFDC40;
}

.delete-button {
    width: 40px;
    height: 36px;
    border-radius: 0 10px 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.delete-mark {
    border: 1px solid #C4C4C4;
    color: #C4C4C4;
    border-radius: 100%;
    width: 50%;
    font-size: 91%;
    transition: 0.1s;
    text-align: center;
    align-items: center;
}

.delete-mark:hover {
    background-color: #833AE0;
    color: white;
    cursor: pointer;
}

#add-field {
    width: 336px;
    display: flex;
    justify-content: center;
}

#add-button {
    margin-top: 18px;
    margin-bottom: 19px;
    width: 150px;
    height: 42px;
    background: #833AE0;
    border-radius: 71px;
    color: #FFFFFF;
    font-size: 14px;
    line-height: 16px;
    display: flex;
    align-items: center;
    padding: 0px;
    border: none;
    justify-content: center;
    position: relative;
    outline: none;
    transition: 0.1s;
}

#add-button:hover {
    opacity: 75%;
    cursor: pointer;
}

#plus {
    display: inline-block;
    border-radius: 100%;
    width: 42px;
    height: 42px;
    background-color: #9953F1;
    color: white;
    box-sizing: border-box;
    padding: 8.5%;
    position: absolute;
    left: 0px;
}

.dragging {
    background: #FFDC40;
    cursor: grabbing;
}